<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Table</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <main class="join-form">
        <h1>Join {{ table_name }}</h1>

        <form method="POST">
            <label for="player-name">Name</label>
            <input type="text" id="player-name" name="player_name">

            <label for="phone-number">Phone Number</label>
            <input type="tel" id="phone-number" name="phone_number">

            <button type="submit">Submit</button>
        </form>

        <a href="{{ url_for('index') }}">Return to tables</a>
    </main>

</body>
</html>